.nav {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;

  text-align: center;

  line-height: 50vh;

  color: #fff;
}

.nav a {
  margin: 0;
  padding: 0;
  color: #fff;
  font-size: 30px;

  transition: .5s
}

.nav a:hover {
  background-color: #fff;

  text-decoration: none;
  
  color: #000;
}

.link {
  display: block;
  width: 33.333%;
  min-width: 200px;
  height: 50vh;
  
  margin: 0;
  padding: 0;

  background-color: #000;
}

@media(max-width: 600px) {
  .link {
    width: 50%;
  }
}

@media(max-width: 400px) {
  .link {
    width: 100%;
  }
}