.item {
  position: relative;

  width: calc(50% - 10px);
  max-width: 500px;

  margin: 20px;
  padding: 30px;

  border: 1px solid rgba(0,0,0,0.5);
 

  transition: .25s;
}

.item:hover {
  box-shadow: 10px -11px 5px -9px rgba(0,0,0,0.5);
}

.desc {
  margin-top: 20px;
}

.name {
  text-align: center;
}

.text {
  margin-top: 20px;
  text-align: center;
}

.icon {
  position: absolute;
  top: 10px;
  right: 0;

  width: 40px;

  cursor: pointer;
}

@media(max-width: 900px) {
  .item {
    width: 90%;
  }
}